@font-face {
  font-family: "PokemonFont";
  /*Can be any text*/
  src: local("PKMN RBYGSC"),
    url("./fonts/PokemonFont.ttf") format("truetype");
}

@font-face {
  font-family: "Ketchum";
  /*Can be any text*/
  src: local("Ketchum"),
    url("./fonts/Ketchum.otf") format("opentype");
}

* {
  font-family: "PokemonFont";
}

body {
  overflow: hidden;
}

img {
  image-rendering: pixelated;
}

.transition {
  position: absolute;
  opacity: 0%;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  pointer-events: none;
  z-index: 10;
}

.transitionAnimation {
  animation: transition 3s;
}

@keyframes transition {
  0% {
    opacity: 0%;
  }

  45% {
    opacity: 100%;
  }

  55% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.locations {
  height: 100vh;
  font-family: "PokemonFont";
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-image: url("./images/field.jpg");
}

.location>button {
  font-family: "PokemonFont";
  font-weight: bolder;
  color: white;
  border-style: none;
  background-image: url("./images/button.png");
  height: 30px;
  background-size: 100% 100%;
}

.location {
  width: 95%;
  height: 120px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
}

.randomizerContainer * {
  font-family: "PokemonFont";
}

.randomizerbg {
  position: relative;
  background-image: url("./images/battle.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.randomizer {
  position: relative;
  top: 0px;
}

.enemyPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 8vw;
  bottom: 7vh;
}

.enemyPokemon>img {
  width: 25vw;
}

.enemyPokemon>p {
  font-size: 20pt;
  width: 30vw;
  font-weight: bolder;
  margin-bottom: 0px;
  padding: 15px 15px;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
}

.enemyPokemonDetails {
  padding: 15px 15px;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
  width: fit-content;
}

.usersPokemons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 20px;
  left: 20px;
}

.usersPokemons>p {
  font-size: 20pt;
  width: 30vw;
  font-weight: bolder;
  margin-bottom: 40px;
  padding: 15px 15px;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
}

.userPokemon {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userPokemon p:first-child {
  font-weight: bolder;
}

.userPokemonContainer {
  display: flex;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
}

.countdownbg {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}

.countdownbg div {
  position: relative;
  height: 70vh;
  background-image: url("./images/vs.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.countdownContainer {
  display: flex;
  justify-content: center;
  background-color: black;
}

.countdownEnemy {
  position: absolute;
  top: 13.6%;
  left: 10%;
}

.countdownEnemy>img {
  height: 40vh;
}

.countdownEnemyName {
  display: flex;
  justify-content: center;
  font-size: 20pt;
  width: auto;
  height: fit-content;
  font-weight: bolder;
  margin-bottom: 40px;
  padding: 15px 15px;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
}

.countdownEnemyName>p {
  margin: 0;
}

.countdownEnemyDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
}

.countdownEnemyDetails p {
  margin: 8px 0 5px 0;
  font-weight: bolder;
}

.countdownUser {
  position: absolute;
  top: 17%;
  right: 9%;
}

.countdownUser>img {
  height: 40vh;
}

.countdownUserName {
  display: flex;
  justify-content: center;
  font-size: 20pt;
  width: auto;
  height: fit-content;
  font-weight: bolder;
  margin-bottom: 40px;
  padding: 15px 15px;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
}

.countdownUserName>p {
  margin: 0;
}

.countdownUserDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
}

.countdownUserDetails p {
  margin: 8px 0 5px 0;
  font-weight: bolder;
}

.countdownTimer {
  position: absolute;
  bottom: 15vh;
  left: auto;
  display: flex;
  justify-content: center;
  width: 10vw;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
}

.countdownTimer>p {
  font-family: "Ketchum";
  margin: 0;
  padding: 10px 10px;
  color: red;
  font-size: 80pt;
}

.encounter {
  position: absolute;
  top: 0;
  background-image: url("./images/battle.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.enemyBattlePokemon {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 13%;
  bottom: 25%;
}

.enemyBattlePokemon>img {
  width: 25vw;
}

.enemyBattlePokemon>p {
  padding: 20px 20px;
  font-size: 20pt;
  width: fit-content;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
}

.userBattlePokemon {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 7%;
  bottom: -20%;
  overflow: hidden;
}

.userBattlePokemon>img {
  width: 35vw;
}

.userBattlePokemon>p {
  padding: 20px 20px;
  font-size: 20pt;
  width: fit-content;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
}

.gameOverbg {
  position: relative;
  background-image: url("./images/field.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gameOverWin {
  position: absolute;
  top: 0;
  left: 0;
}

.ash img {
  position: absolute;
}

.ashImage {
  height: 90vh;
  top: 20vh;
  left: 60vw;
}

.pokeball {
  width: 5vw;
  top: 35vh;
  left: 67vw;
  animation: pokeballFloat 4s infinite;
}

@keyframes pokeballFloat {
  0% {
    top: 35vh;
  }

  50% {
    top: 27vh;
  }

  0% {
    top: 35vh;
  }
}

.openPokeballImage {
  width: 30vw;
  transform: scale(-1, 1);
  position: absolute;
  top: 25vh;
  left: 5vw;
}

.loserPokemon {
  z-index: 2;
  position: absolute;
  transform: scale(-1, 1);
  width: 20vw;
  left: 10vw;
  top: 45vh;
  filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 1));
  animation: pokemonFloat 6s infinite;
}

@keyframes pokemonFloat {
  0% {
    top: 45vh;
  }

  50% {
    top: 40vh;
  }

  0% {
    top: 45vh;
  }
}

.gameOverMessages {
  display: flex;
  position: absolute;
  width: max-content;
  left: 40vw;
  top: 5vh;
  align-items: center;
  flex-direction: column;
  padding: 15px 15px;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
}

.gameOverButton {
  position: absolute;
  top: 80vh;
  left: 35vw;
  width: max-content;
  color: #000000;
  background-color: white;
  font-size: 20pt;
  text-transform: uppercase;
  padding-inline: 3rem;
  padding-block: 1.25rem;
  transition: all 0.5s linear;
  border: 0.2rem solid #ec1840;
  box-shadow: 0 0 5px 1px #ec1840,
    0 0 10px 1px #ec1840;
}

.gameOverButton:hover {
  background: url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  transition-delay: 0.8s;
  transition: .8s;
  background-size: 18rem;
  animation: 🚀 .8s steps(8) forwards;
}

@keyframes 🚀 {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -48rem;
  }
}

.gameOverMessagesLose {
  font-weight: bolder;
  display: flex;
  position: absolute;
  width: max-content;
  left: 34vw;
  top: 5vh;
  align-items: center;
  flex-direction: column;
  padding: 15px 15px;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
}

.loserPokemonLose {
  z-index: 2;
  position: absolute;
  height: 40vh;
  bottom: -5vh;
  right: 8vw;
}

.ashCryingImage {
  position: absolute;
  height: 80vh;
  bottom: 0;
  left: -10vh;

}

.tombstone {
  position: absolute;
  height: 60vh;
  bottom: -5vh;
  right: 5vw;
}