@font-face {
  font-family: "PokemonFont";   /*Can be any text*/
  src: local("PokemonFont"),
    url("./fonts/PokemonFont.ttf") format("truetype");
}

.App {
  margin: 0;
  font-family: PokemonFont;
}

img {
  image-rendering: pixelated;
}

.locations {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.location {
  width: 95%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-style: solid;
}